.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  &__content {
    width: 90%;
    height: 90%;
    max-width: 450px;
    max-height: 600px;

    svg {
      width: 34px;
    }
  }
}
